.info {
    display: flex;
    
}
.info h2 {
    margin: 0;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 150%;
/* identical to box height, or 60px */


/* Neutral / White */

color: #FFFFFF;

}

.info p {
    font-style: normal;
    font-weight:300;
    font-size: 16px;
    line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: 0.01em;

/* Neutral / Grey 5 */

color: #E0E0E0;
}

.info-text {
    margin-left: 24px;
}


@media  only screen and (max-width:500px) {
    .info {
        margin-top: 200px;
    }
}
